mixin slider-item(src, alt, text)
  .slider-item
    +img(src=src, alt=alt)
    .slide
      p.slider-caption
          if block
            block
          else
            !=text
//- mixin slider-item(src, alt, text)
//-   .slider-item
//-     +img(src=src, alt=alt)
//-     .content
//-       p
//-         if block
//-           block
//-         else
//-           !=text


mixin slider-item-1(obj)
  - if (typeof(obj.src1) === 'undefined') obj.src1 = 'images/transparent.png'
  - if (typeof(obj.src2) === 'undefined') obj.src2 = 'images/transparent.png'
  - if (typeof(obj.src3) === 'undefined') obj.src3 = 'images/transparent.png'
  - if (typeof(obj.src4) === 'undefined') obj.src4 = 'images/transparent.png'
  - if (typeof(obj.src5) === 'undefined') obj.src5 = 'images/transparent.png'
  - if (typeof(obj.src6) === 'undefined') obj.src6 = 'images/transparent.png'
  - if (typeof(obj.alt1) === 'undefined') obj.alt1 = obj.title1
  - if (typeof(obj.alt2) === 'undefined') obj.alt2 = obj.title2
  - if (typeof(obj.alt3) === 'undefined') obj.alt2 = obj.title3
  - if (typeof(obj.alt4) === 'undefined') obj.alt2 = obj.title4
  - if (typeof(obj.alt5) === 'undefined') obj.alt2 = obj.title5
  - if (typeof(obj.alt6) === 'undefined') obj.alt2 = obj.title6
  if (obj.type)
    .slider-item
      .slide-1
        +img(src=obj.src1, alt=obj.title1)
        +img(src=obj.src2, alt=obj.title2)
        +img(src=obj.src3, alt=obj.title3)
        +img(src=obj.src4, alt=obj.title4)
        +img(src=obj.src5, alt=obj.title5)
        +img(src=obj.src6, alt=obj.title6)
  else
    div.slide
      +img(src=obj.src, alt=obj.alt)
